*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    padding-inline: 10px;
}

.container-grid {
    background-color: aquamarine;
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.intro{
    padding-inline: 20rem;
    margin-left: 10rem;
    
}

.big-square{
    --sideSquare: 10;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    box-sizing: content-box;
    margin-top: 20px;
    background-color: darkcyan;
}

.cell {
    width: calc(100% / var(--sideSquare));
	height: calc(100% / var(--sideSquare));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.clicked {
    background-color: rgb(7, 33, 111);
}

.red{
    background-color: brown;
}

.hidden{
    display: none;
}

.output{
    text-align: center;
    font-size: 1.5rem;
    background-color: aquamarine;
    padding-bottom: 1.5rem;
    padding-top: 20px;
}

footer{
    font-size: 1.2rem;
    margin: 1.2rem;
}